@use './variables' as a;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
    font-family: a.$font;
    font-style: normal;
    font-weight: 400;
    src: local("Blizzard"),local("Blizzard"),url("/fonts/blizzard.regular.woff") format("woff")
}


@font-face {
    font-family: a.$font;
    font-style: normal;
    font-weight: 700;
    src: local("Blizzard Bold"),local("Blizzard-Bold"),url("/fonts/blizzard.bold.woff") format("woff")
}



